<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <add key="Password" value="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAA++7dsbp8cUOILoL7VYzcnwAAAAACAAAAAAAQZgAAAAEAACAAAADZ2RyQ4KrN9kKCRV9V2MUUkhPlnpuGGQ9vZjTEsza5NwAAAAAOgAAAAAIAACAAAAAjfG5qYsl7RtIx4Z+wkUV3WRFOJkik/P+0zRi40R4QUBAAAAB2QAjcJvrfkq6VVS9MysWTQAAAAG1gV4yukTybT7nCp43FbAvgSiZRDF98dpKAx19+A2U0kO+TaKZBxyIMZSbYKg6Ht9LZkdEA+rrIHKxu9CWGjqU=" />
  </appSettings>
  <connectionStrings>
    <add name="PoseshchaemostEntities1" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=62.63.74.62,1433;initial catalog=Poseshchaemost;user id=word;encrypt=False;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>
</configuration>